body{
	background-color: lightgrey;
	background-image :url("bg.jpg");
	color:black;
	font-family: sans-serif;
	font-size:15px;
	line-height:1.5em;
	margin:0;
}

.container{
	width:85%;
	margin:auto;
	overflow:hidden;
	color:white;
}

.dropdown:hover .dropdown-content {display: block;}
#main-header{
	background-color:lightgrey;
	color:black;
	height: 120px;
	padding-bottom: 10px;
}

#main-header h1{
	font-size: 80px;
	margin-left: 0;
	color: red;
	padding-bottom: 10px;
}

#navbar{
	background-color:#333;
	color:#fff;
	padding-left: 0 px;
}


#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar a{
	color:white;
	text-decoration: none;
	font-size:20px;
	padding-right:10px;
}

#f1{
	padding-top: 30px;
	height: 10%;
	box-sizing: border-box;
	background-image: url('../images/f1.jpg');
	color:white;
}

#f1 label{
	color: white;
	font-size: 16px;
}

#f1 input{
	text-align: center;
	color:white;
}
ul{hover:true;}
h2{
	font-size: 25px;
	margin-left: 0;
	color: white;

}

h1{
	font-size: 70px;
	margin-left: 0;
	color: white;

}


#my-form{
	padding-top: 40px;
	padding-bottom: 106px;
	background-image: url("../images/f1.jpg");
	color: black;
}


#my-form .form-group{
	padding-bottom: 15px;
}

a{
	lighting-color: white;
	text-decoration:none;
	color: inherit;
	color-rendering: white;
	outline-color: white;
	
}

#main-footer{
	background-color:#333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

@media(max-width:600px){
	#showcase{
		width:100%;
		float:none;
	}

	#my-form{
		width:100%;
		float:none;
	}
}
